<h2 class="section-title">Voices of appreciation</h2>
<div class="feedback-column-container">
  <div class="flex md:flex-column gap-2">
    <div
      class="hidden md:block relative image-container image-container--1 border-round-lg h-16rem overflow-hidden">
      <div class="flex align-items-center justify-content-center w-full h-full absolute z-1">
        <img src="unimicro-logo.svg" alt="Unimicro logo" class="w-auto h-auto" />
      </div>
      <img
        class="bg-cover bg-center decorative-image"
        src="unimicro-feedback.png"
        alt="Unimicro decorative" />
    </div>
    <div
      class="flex flex-column p-3 h-auto md:h-16rem md:h-28rem w-full border-round-lg feedback-container feedback-container--1">
      <p class="m-0 feedback-text flex-1">
        Hashan is not only highly skilled and knowledgeable but also an absolute pleasure to work
        with. His collaborative nature and openness made him a valued team member, and he was always
        willing to share his insights and expertise with the rest of us
      </p>
      <div class="flex gap-2 align-items-center">
        <i class="ph-fill ph-quotes icon-xl"></i>
        <div>
          <p class="m-0 name">Britt Farestveit</p>
          <p class="m-0 company">Head of UX, Uni Micro AS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex md:flex-column gap-2 lg:mt-4">
    <div
      class="flex flex-column p-3 h-auto md:h-16rem md:h-28rem w-full border-round-lg feedback-container feedback-container--2">
      <p class="m-0 feedback-text flex-1">
        Hashan was a UX engineer in my team at 99x and we developed web and mobile applications for
        an international client. He is an excellent UX lead with high competency and a great team
        attitude. He joined the team during a challenging time period and was able to quickly
        integrate with the process and the team.
      </p>
      <div class="flex gap-2 align-items-center">
        <i class="ph-fill ph-quotes icon-xl"></i>
        <div>
          <p class="m-0 name">Chanaka Athurugiriya</p>
          <p class="m-0 company">Tech Lead, 99x</p>
        </div>
      </div>
    </div>
    <div
      class="hidden md:block relative image-container image-container--2 border-round-lg h-16rem overflow-hidden">
      <div class="flex align-items-center justify-content-center w-full h-full absolute z-1">
        <img src="99x-logo.svg" alt="99x logo" class="w-auto h-auto" />
      </div>
      <img
        class="bg-cover bg-center decorative-image"
        src="99x-feedback.png"
        alt="Unimicro decorative" />
    </div>
  </div>
  <div class="flex md:flex-column gap-2">
    <div
      class="hidden md:block relative image-container image-container--3 border-round-lg h-16rem overflow-hidden">
      <div class="flex align-items-center justify-content-center w-full h-full absolute z-1">
        <img src="unimicro-logo.svg" alt="Unimicro logo" class="w-auto h-auto" />
      </div>
      <img
        class="bg-cover bg-center decorative-image"
        src="unimicro-feedback2.png"
        alt="Unimicro decorative" />
    </div>
    <div
      class="flex flex-column p-3 h-auto md:h-16rem md:h-28rem w-full border-round-lg feedback-container feedback-container--3">
      <p class="m-0 feedback-text flex-1">
        Beyond his technical expertise, Hashan's warm personality and subtle humor make him a
        pleasure to work with. He approaches discussions with a calm and reasoned demeanor,
        consistently offering new perspectives that illuminate key issues, making him a trusted
        voice in our design discussions.
      </p>
      <div class="flex gap-2 align-items-center">
        <i class="ph-fill ph-quotes icon-xl"></i>
        <div>
          <p class="m-0 name">Marianne Nagell</p>
          <p class="m-0 company">UX Designer, Uni Micro AS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex md:flex-column gap-2 lg:mt-4">
    <div
      class="flex flex-column p-3 h-auto md:h-16rem md:h-28rem w-full border-round-lg feedback-container feedback-container--4">
      <p class="m-0 feedback-text flex-1">
        In mobile banking applications such as NTB Mobile banking and NDB Neos mobile banking
        solutions, Hashan played a key role in strategizing and delivering industry leading user
        experience to the products.
      </p>
      <div class="flex gap-2 align-items-center">
        <i class="ph-fill ph-quotes icon-xl"></i>
        <div>
          <p class="m-0 name">Nimantha Gunawardane</p>
          <p class="m-0 company">Project Manager, Epic Technology</p>
        </div>
      </div>
    </div>
    <div
      class="hidden md:block relative image-container image-container--4 border-round-lg h-16rem overflow-hidden">
      <div class="flex align-items-center justify-content-center w-full h-full absolute z-1">
        <img src="epic-logo.png" alt="Epic lanka logo" class="w-auto h-auto" />
      </div>
      <img
        class="bg-cover bg-center decorative-image"
        src="epic-feedback.png"
        alt="Unimicro decorative" />
    </div>
  </div>
</div>
