<header class="header-container">
  <div class="header-inner">
    <div class="logo-container">
      <a routerLink="/">
        <img src="site-logo.svg" alt="Site logo" />
      </a>
    </div>
    <nav class="nav-container">
      <ul>
        <li>
          <a routerLink="/projects" routerLinkActive="link-active">Projects</a>
        </li>
        <li>
          <a routerLink="/about-me" routerLinkActive="link-active">About me</a>
        </li>
        <li><a href="#" routerLinkActive="link-active">Download resume</a></li>
      </ul>
    </nav>
    <div class="nav-container--mobile">
      <i class="ph-bold ph-list" (click)="toggleMobileMenu()"></i>
    </div>
  </div>
</header>

<!-- mobile navigation menu  -->
<nav class="mobile-menu" [ngClass]="{ 'show-menu': isMobileMenuActive }">
  <div>
    <i class="ph-bold ph-x" (click)="toggleMobileMenu()"></i>
  </div>
  <ul>
    <li>
      <a
        (click)="closeMobileMenu()"
        routerLink="/"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        (click)="closeMobileMenu()"
        routerLink="/projects"
        routerLinkActive="link-active"
        >Projects</a
      >
    </li>
    <li>
      <a
        (click)="closeMobileMenu()"
        routerLink="/about-me"
        routerLinkActive="link-active"
        >About me</a
      >
    </li>
    <li>
      <a 
        (click)="closeMobileMenu()" 
        href="#" 
        routerLinkActive="link-active"
        >Download resume</a
      >
    </li>
  </ul>
</nav>
