@import "../../scss/theme";
@import "../../scss/typography";

.project-card {
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    .card-hover {
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (max-width: 650px) {
    max-width: none;
  }
  .image-container {
    height: 400px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .card-title {
    @include text-m-bold;
    width: 100%;
    color: $text-default;
  }
  .card-description {
    @include text-r-regular;
    width: 100%;
    color: $text-subdued;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }
}

.card-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: $card-surface-hover;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: visibility 0ms, opacity 300ms linear;

  p {
    @include text-r-medium;
  }

  i {
    @include text-m-regular;
  }

  p,
  i {
    color: $text-invert;
  }
}
