@import "../../scss/theme";
@import "../../scss/typography";

.section-title {
  @include text-l-extrabold;
  color: $text-default;
}

.cards-container + * {
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .cards-container {
    justify-content: center;
    & + * {
      width: 100%;
    }
  }
}
