@import "../../../scss/theme";
@import "../../../scss/typography";

.contact-container {
  position: sticky;
  bottom: 0;
  word-wrap: break-word;

  div {
    @include text-m-extrabold;
    color: $text-default;
    margin: 1rem 0;
  }

  p {
    @include text-s-bold;
  }
}
