@import "../scss/variable";
@import "../scss/theme";

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .body-inner {
    // min-height: calc(100vh - 200px); //this is the correct height
    min-height: 100vh; // only for testing
    max-width: $body-width;
    padding: 1rem $body-padding;
    @media screen and (max-width: 650px) {
      padding: 1rem $body-padding--mobile;
    }
  }
}
