<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
      <h1>I'm Hashan Nilupul</h1>
      <p>
        A Product designer with 6+ years of experience in UX design,
        Accessibility and design systems. Hands on experience in fintech domain
        products and enterprise level application design.
      </p>
      <p>
        Formerly at Epic technology, Currently designing financial systems for
        Unimicro and 99x
      </p>
    </div>
  </div>
</main>
<router-outlet />
