<app-header></app-header>
<main class="body-container">
  <div class="body-inner">
    <div class="content">
      <div class="left-side">
        <h1>{{ title }}</h1>
        <h1>I'm Hashan Nilupul</h1>
        <p>
          A Product designer with 6+ years of experience, helping brands to grow
          with Design systems and designing and developing accessible software
          systems. Hands on experience in Fintech domain products and enterprise
          system design.
        </p>
        <p>
          Formerly at
          <a
            href="https://www.epictechnology.lk/"
            target="_blank"
            rel="noopener"
            >Epic technology </a
          >and
          <a href="https://www.unimicro.no/" target="_blank" rel="noopener"
            >Unimicro</a
          >. Currently designing and developing bespoke travel curator system
          for
          <a href="https://upnorway.com/" target="_blank" rel="noopener"
            >UpNorway</a
          >
          with <a href="https://99x.io/" target="_blank" rel="noopener">99x</a>.
        </p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
<router-outlet />
