@import "../scss/variable";
@import "../scss/theme";

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;

  .body-inner {
    max-width: $body-width;
    padding: 1rem $body-padding;
    @media screen and (max-width: 650px) {
      padding: 1rem $body-padding--mobile;
    }
  }
}
