@import "../scss/variable";
@import "../scss/theme";

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .body-inner {
    // min-height: calc(100vh - 200px); //this is the correct height
    min-height: 100vh; // only for testing
    max-width: $body-width;
    padding: 1rem $body-padding;
    @media screen and (max-width: 650px) {
      padding: 1rem $body-padding--mobile;
    }
  }
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.content h1 {
  margin: 3rem 0;
  @media screen and (max-width: 650px) {
    font-size: 1.5rem;
  }
}

.content p {
  margin-top: 2rem;
  font-size: 1.5rem;
  @media screen and (max-width: 650px) {
    font-size: 1rem;
  }
}
