@import "../../../scss/theme";
@import "../../../scss/typography";

.project-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 420px;
  z-index: -1;
  background: hsla(78, 82%, 66%, 1);
  background: -moz-linear-gradient(
    315deg,
    hsla(78, 82%, 66%, 1) 0%,
    hsla(79, 51%, 44%, 1) 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    hsla(78, 82%, 66%, 1) 0%,
    hsla(79, 51%, 44%, 1) 100%
  );
  background: linear-gradient(
    315deg,
    hsla(78, 82%, 66%, 1) 0%,
    hsla(79, 51%, 44%, 1) 100%
  );
  @media only screen and (max-width: 650px) {
    height: 270px;
  }
}

.details-left {
  max-width: 500px;
  color: $text-invert;
  @media only screen and (max-width: 650px) {
    margin-top: 1.5rem;
  }

  .project-title {
    @include text-l-extrabold;
  }

  .project-sub-title {
    @include text-r-regular;
  }
}

.project-img {
  height: 340px;
  @media only screen and (max-width: 650px) {
    display: none;
  }

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.section-title {
    @include text-m-extrabold
}

// deep angular styling

:host::ng-deep {
  .p-button {
    background: rgba($color: $surface-default, $alpha: 0.3);
    border: none;
    &.p-button-link:not(:disabled) {
      &:hover {
        .p-button-label {
          text-decoration: none;
        }
      }
    }
  }
}

::ng-deep {
  .header-container {
    display: none !important;
  }

  .body-container {
    margin-top: 0 !important;
  }
}
