@import "../src/scss/main.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100vh; // making the app full height of viewport
}
