// color style tokens 
$text-primary: #333333;
$text-secondary: #777777;

$surface-primary: #F0FFFF;
$surface-subdued: #FFFFFF;

$header-surface-alt: #FFFFFF;
$header-surface: rgba(255, 255, 255, 0.9);