// main font face 

@font-face {
  font-family: "Manrope";
  src: url(/src/assets/fonts/Manrope-VariableFont_wght.ttf) format("ttf");
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 200 800;
}

// typography style tokens