// main font face

@font-face {
  font-family: "Manrope";
  src: url(/src/assets/fonts/Manrope-VariableFont_wght.ttf) format("ttf");
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 200 800;
}

// typography style tokens

.text-2X-large {
  font-size: 6rem !important;
  letter-spacing: 0.04rem !important;
}

.text-1X-large {
  font-size: 4rem !important;
  letter-spacing: 0.025rem !important;
} 

.text-large {
  font-size: 2.625rem !important;
}

.text-medium {
  font-size: 2rem !important;
}

.text-regular {
  font-size: 1.25rem !important;
}

.text-small {
  font-size: 1rem !important;
}

.text-1X-small {
  font-size: 0.75rem !important;
}

// font weigh styles
.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-semi-bold {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.fw-extra-bold {
  font-weight: 700 !important;
}

.fw-black {
  font-weight: 800 !important;
}
