@import "_theme";
@import "_typography";
@import "_variable";

body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: $text-secondary;
  display: flex;
  justify-content: center;
  margin: 0;
  background: $surface-primary;
}

h1 {
  font-size: 3.125rem;
  color: $text-primary;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

p {
  margin: 0;
  color: $text-secondary;
}

a {
    text-decoration: none;
    color: $text-primary;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}
