<div class="content">
  <div class="intro-section">
    <h1>
      {{ title }}, I'm {{ myName }}.
    </h1>
    <div>
      <p>
        I'm a Product designer with 6+ years of experience, I help brands to
        grow with Design systems and designing/ developing accessible software
        systems.
      </p>
      <p>
        I have hands of experience designing Fintech domain products and
        enterprise level software systems.
      </p>
      <p>
        Formerly at
        <a href="https://www.epictechnology.lk/" target="_blank" rel="noopener">
          Epic technology
        </a>
        and
        <a href="https://www.unimicro.no/" target="_blank" rel="noopener">
          Unimicro </a
        >. Currently designing and developing bespoke travel curator system for
        <a href="https://upnorway.com/" target="_blank" rel="noopener"
          >UpNorway</a
        >
        with
        <a href="https://99x.io/" target="_blank" rel="noopener">99x</a>.
      </p>
    </div>
  </div>
  <div class="projects-section my-8">
    <app-projects></app-projects>
  </div>
  <div class="contact-section">
    <app-contact></app-contact>
  </div>
</div>
