@import "../../scss/theme";

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.content h1 {
  color: $text-default;
  line-height: 100%;
  margin: 3rem 0;
  @media screen and (max-width: 650px) {
    font-size: 1.5rem;
  }
}

.content p {
  color: $text-subdued;
  margin-top: 2rem;
  font-size: 1.5rem;
  a {
    color: $text-default;
    font-weight: 500;
  }
  @media screen and (max-width: 650px) {
    font-size: 1rem;
  }
}
