<div class="content">
  <div class="intro-section">
    <h1>{{ title }}, I'm {{ myName }}.</h1>
    <div>
      <p>
        I'm a Product Designer with 6+ years of experience, helping brands grow
        through design systems and building accessible software.
      </p>
      <p>
        I’ve worked hands-on with fintech products and enterprise software,
        making complex systems user-friendly.
      </p>
      <p>
        Previously at
        <a href="https://www.epictechnology.lk/" target="_blank" rel="noopener">
          Epic technology
        </a>
        and
        <a href="https://www.unimicro.no/" target="_blank" rel="noopener">
          Unimicro 
        </a>. Now designing and developing a bespoke travel curator system for
        <a href="https://upnorway.com/" target="_blank" rel="noopener">
          UpNorway
        </a>
        with
        <a href="https://99x.io/" target="_blank" rel="noopener">99x</a>.
      </p>
    </div>
  </div>
  <div class="projects-section my-8">
    <app-projects></app-projects>
  </div>
  <div class="feedback-section my-8">
    <app-feedback></app-feedback>
  </div>
  <div class="contact-section my-8">
    <app-contact></app-contact>
  </div>
</div>
