@import "../../scss/theme";
@import "../../scss/typography";

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.content h1 {
  @include text-2x-extrabold;
  color: $text-default;
  line-height: 100%;
  margin: 3rem 0;
}

.content p {
  @include text-m-medium;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: $text-subdued;
  margin-top: 2rem;
  a {
    color: $text-default;
    font-weight: 500;
  }
  @media screen and (max-width: 650px) {
    @include text-r-medium;
  }
}
