@import "../../../scss/variable";
@import "../../../scss/theme";

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border-default;

  .footer-inner {
    padding: 2rem $body-padding;
    max-width: $body-width;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 650px) {
      padding: 1rem $body-padding--mobile;
      gap: 0.75rem;
    }

    .footer-left {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      @media screen and (max-width: 650px) {
        gap: 0.25rem;
      }

      span {
        height: 18px;
        width: 1px;
        background: $text-subdued;
        border-radius: 4px;
        @media screen and (max-width: 650px) {
          display: none;
        }
      }
    }

    .footer-right {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 2.5rem;

        li {
          list-style: none;
        }
      }
      i {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .footer-inner,
  .footer-left {
    flex-direction: column;
  }
}
