<footer class="footer-container">
  <div class="flex flex-column align-items-center w-full width-1024">
    <div class="separation-line"></div>
    <div class="footer-inner">
      <div class="footer-left">
        <p>Hashan Nilupul</p>
        <span class="line-breaker"></span>
        <p>© 2024. All Rights Reserved</p>
      </div>
      <div class="footer-right">
        <ul>
          <li>
            <a
              href="https://www.behance.net/hashannilu"
              target="_blank"
              rel="noopener"
            >
              <i class="ph-bold ph-behance-logo"></i>
            </a>
          </li>
          <li>
            <a
              href="https://dribbble.com/hashmune"
              target="_blank"
              rel="noopener"
            >
              <i class="ph-bold ph-dribbble-logo"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/hmunasinghe/"
              target="_blank"
              rel="noopener"
              ><i class="ph-bold ph-linkedin-logo"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
